body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

section {
    margin-bottom: 130px;
}

.d-flex {
    display: flex;
}

section img {
    width: 85%;
}

.orange {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    margin-top: 10px;
    text-transform: uppercase;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    margin-top: 10px;
}

.top-section {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.top-section img {
    margin-top: 20px;
}

.experience-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.experience-area .half-width {
    box-shadow: 10px 10px 50px gray;
    margin: 0 5%;
    padding: 40px 30px;
    border-radius: 5px;
}

#web-developar {
    border-left: 5px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 2;
}

#baby-web-developar {
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2;
}

footer p {
    text-align: center;
    margin-bottom: 20px;
}